/* navbar start */
 *{
  margin: 0;
  padding: 0;
}
body{
   font-family: poppins;

}
nav{
   height: 50px;
   background: #404040;

}
nav h1 {
       position: absolute;
       width: 300px;
       top: 10px;
       left: 5%;
       color: #ffff;
       text-transform: uppercase;
}

nav ul{
      float: right;
      margin-right: 30px;
      list-style: none;
}
nav ul li{
       display: inline-block;
       line-height: 50px;
       margin: 0 15px;

}
nav ul li a {  
       position: relative;
       padding: 5px 0;     
       color: #fff;
       font-size: 18px;
       text-decoration: none;
}

label #sing-one ,
label #sing-two{
          font-size: 30px;
          color: #fff;
          float: right;
          line-height: 50px;
          margin-right: 30px;
          cursor: pointer;
          display: none;
}

#res-menu {

     display: none;

}

.about-content{
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    background-size: cover;
    height: 85vh;
}

@media (max-width:870px) {
     label #sing-one {
           display: block;
     }
     nav ul {
           position: fixed;
           width: 100%;
           height: 100vh;
           background: crimson;
           top: 50px;
           left: -100%;
           text-align: center;
           transition: .5s;
           z-index: 10;       
     }
     
     nav ul li {
           display: block;
           margin: 40px 0;
           line-height: 30px;
  }
 
  nav ul li a {

         font-size: 20px;

  }
   #res-menu:checked ~ ul{

      left: 0;
   }
  #res-menu:checked ~ label #sing-one {

        display: none;
  }
  #res-menu:checked ~ label #sing-two {
        display: block;

  }
}

/*education*/

.econtent{
      padding-left: 35%;
    padding-right: 10%;
    color: #fff;
    font-size: 25px;
     padding-top: 10%;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    height: 85vh;
}

.skillscontent{
    padding-left: 40%;
    padding-top: 10%;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    height: 85vh;
      padding-left: 35%;
    padding-right: 10%;
    color: #fff;
    font-size: 25px;

}
.projectscontent{
    padding-left: 35%;
    padding-right: 10%;
    color: #fff;
    font-size: 25px;
    padding-top: 10%;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    height: 85vh;
}
.certificationscontent{
      padding-left: 35%;
    padding-right: 10%;
    color: #fff;
    font-size: 25px;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    height: 85vh;
    color: #fff;
    font-size: 25px;
    padding-top: 10%;
}

.contactcontent{
      padding-left: 35%;
    padding-right: 10%;
    color: #fff;
    font-size: 25px;
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/real-lens-flare-isolated-on-black-background-use-this-video-as-a-layer-with-screen-opacity-and-it-will-looks-real-on-your-video_sxxn-lha_thumbnail-full01.png");
    height: 85vh;
    color: #fff;
    font-size: 25px;
    padding-top: 10%;
}




/* footer style */

footer{
     
      padding: 20px 23px;
      background-size: cover;
      height: 80vh;
      color: white;
      text-align: center;
  }
  
  footer span a{
      color: white;
      text-decoration: none;
  }
  
  footer span a:hover{
      text-decoration: underline;
  }
  


